/* general styling, colours and fonts */

.container{
    max-width: 2000px;
    margin: auto;
}

.tags {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;

  color: #7b7b7b;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  padding: 50px 0px;

  letter-spacing: 0.05em;
}

h3 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}

h4 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

h5 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
}

h6 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0.1em;
  line-height: 166%;
}

button {
  width: 180px;
  height: 46px;
  background: #565656;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: white;
  margin: auto;
  display: block;
}

#info p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

footer h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}

footer a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

footer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  text-align: center;
}

.date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  color: #7b7b7b;
  padding-top: 15px;
  padding-bottom: 15px;
}

.description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

section {
  max-width: 1170px;
  margin: 90px auto;
}

/* header */

.header-mobile {
  display: none;
}

.header-desktop {
  
  
  
}

.header__menu_hover-line{
    visibility: hidden;
    width: 40px;
    border: none;
    height: 1px;
    background-color: #000000;
}

img {
  display: block;
}

header .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 44px 0px;
  max-width: 1170px;
  margin: auto;
}

.main__banner-title {
  max-width: 1170px;
  margin: auto;
}

.header-desctop_right {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex: 0 0 50%;
}

.header-desctop_right ul {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-basis: 90%;
}

.header-desctop_right li {
  font-family: "Lato";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}

#main__banner {
  background-image: url("./img/hero-image.png");
  height: 600px;
  margin: auto;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
  position: relative;
}

#main__banner .main__banner-title h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  position: absolute;
  top: 100px;
  left: 135px;
}

/* blog */

.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.section_header > p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7b7b7b;
}

.article_wrapper > .blog__item {
  display: flex;
  align-items: center;
}

.article_wrapper > .blog__item > article {
  width: 448px;
  padding: 0px 30px;
}

.article_wrapper > .blog__item:nth-child(even) {
  flex-direction: row-reverse;
}

/* latest and popular*/

.latest_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.popular_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.latest__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

#info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

#info h6 {
  display: block;
  min-width: 50%;
}

footer {
  background-color: #f4f4f4;
  padding: 30px 0px;
}

.footer__main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: auto;
}

.footer__main-info ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__main-info li {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}

.footer__main-info li svg {
  display: block;
  margin: auto;
  padding-top: 25%;
}

.footer-right h1 {
  padding: 15px 0px;
}

.footer-right a {
  padding: 15px 0px;
}

/* special effects, including hover, active */

button:hover {
  background-color: #323232;
}

.footer__main-info>ul li:hover{
    background-color: #565656;

} 

.footer__main-info>ul li:hover svg>path{
    fill: white;

} 

.header-desctop_right ul li a:hover+.header__menu_hover-line{
    visibility: visible;
    
}




/* rwd mobile */

/* rwd tablets */

@media only screen and (max-width:1440px) {

    .header-desktop{
        display: none;
    }

    .header-mobile{
        display: flex;
    }

    .mobile__menu_right{
        display: flex;
        gap: 40px;
    }
    #main__banner{
        max-width: 1440px;
    }

    .article_wrapper > .blog__item:nth-child(even) {
        flex-direction: row-reverse;
      }
    
}
